
<!doctype html>
<html lang="en">
<style>
	body {
		background-color: 	rgb(255, 253, 208);
	}
	

	h1 {
        margin-left: 13em;
    }
</style>

<head>
	<meta charset="utf-8" />
	<title>Oops</title>
</head>

<body>
  <h1> <u>Sorry, no countries present in the database</u> </h1>




</body>

</html>
